
@import "normalize";

@import 'thoughtbot/bourbon/bourbon';
@import 'custom/_andxyz-mixins';
// @import 'sass/thoughtbot/neat/neat';
@import 'custom/andxyz-octopress-configs';
@import 'custom/andxyz-theme-configs';
@import "custom/andxyz-color-configs";

@import "base"; // old octopress stuff
// @import "base/utilities";
// @import "base/solarized";
// @import "base/theme";
// @import "base/typography";
// @import "base/layout";

@import "partials"; // old octopress stuff
// @import "partials/header";
// @import "partials/blog";
// @import "partials/syntax";
// @import "partials/archive";
// @import "partials/footer";

@import "custom/andxyz-fonts";

@import "custom/andxyz-theme-overrides";
@import "custom/andxyz-mobile";
@import "custom/andxyz-icon-font";
@import "custom/andxyz-search";
@import "custom/andxyz-keys";

/* Core */
* {
  box-sizing: border-box;
}

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
  transition-property: color;
  transition-duration: .3s;
}

html {
  background-color: #f8f8f8;
  background-image: url("/images/noise.png");
  background-origin: border-box;
  background-position: top;
  background-repeat: repeat;
}
